.git
.github
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.env
.env.*
!.env.example
tests
docs
*.md
public/hot
public/index.html
